<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>%d{YYYY-MM-dd HH:mm:ss} [%thread] %-7([%level]) %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="TRACE">
	  	<appender-ref ref="STDOUT" />
	</root>
</configuration>